@charset "utf-8";
/* CSS Document */
body{font-size:14px; margin:0px;color:#3C3C3C;font-family:"SourceHanSansCN-Light",Arial,sans-serif,"tahoma";}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont/iconfont.eot?20160408'); 
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),  url('iconfont/iconfont.woff?20160408') format('woff'),    url('iconfont/iconfont.ttf?20160408') format('truetype'),  url('iconfont/iconfont.svg#iconfont') format('svg');
}


.bhr_100 img{ width:100px; height:100px; border-radius:100px; display:block;}

.sh_left {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    float: left;
    background: #e83737;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin: 0 8px 0 0;
}
.sh_right {
    float: right;
    width: 50px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 10px;
    background: #d1d1d1;
    color: #fff;
}
.inp_1 label, .w100 label {
    font-weight: normal
}
.pointer {
    cursor: pointer;
}
.jing_tonus {
    width: 15px;
    height: 15px;
    margin: 10px 0px 0px 5px;
    background: url(/App/Public/Global/images/jing.png) no-repeat;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.J_infoTrigger {
    display: inline-table;
    width: 17px;
    height: 17px;
    background: url(//www.cwq.com/App/Public/Globals/images/qa.png) no-repeat right 0px;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    cursor: pointer;
}
.search_nav_label {
    position: relative;
    padding: 5px 0px 5px 40px;
}
.search_nav_label i {
    position: absolute;
    left: 5px;
    top: 4px;
    font-size: 24px;
    line-height: 24px;
}
.qr_code, .qr_code img {
    width: 88px;
    height: 88px;
}
.tace {
    text-align: center;
}
.bor_hback {
    background: #e83737;
    color: #fff;
}

.bor_toe{ border-top:1px solid #e5e5e5;}
.bora5 {
    border-radius: 5px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}
em, i {
    font-style: normal;
}
a {
    background-color: transparent
}
a {
    color: #333;
    outline: none!important;
    text-decoration: none;
}
a:hover {
    color: #e83737;
    text-decoration: none;
}
.font_bold {
    font-weight: bold;
}
.sh_a:hover span.sh_right, .sh_cor {
    background: #e83737;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.bor {
    border: 1px solid #ebebeb;
}
.bor_le {
    border-left: 1px solid #ebebeb;
}
.bor_boe {
    border-bottom: 1px solid #e5e5e5;
}
.bor_toe {
    border-top: 1px solid #e5e5e5;
}
.bor_bottom {
    border-bottom: 1px solid #e5ece9;
}
.sh_div {
    border-bottom: 1px dotted #d6d6d6;
}
.f12 {
    font-size: 12px;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}
.f22 {
    font-size: 22px;
}
.f26 {
    font-size: 26px;
}
.lh37 {
    line-height: 37px;
}
.mb7 {
    margin-bottom: 7px;
    margin-bottom: 6px!important;
}
.mb8 {
    margin-bottom: 8px;
    margin-bottom: 7px!important;
}
.mb10 {
    margin-bottom: 10px;
    margin-bottom: 10px!important;
}
.mb12 {
    margin-bottom: 12px;
    margin-bottom: 12px!important;
}
.mb14 {
    margin-bottom: 14px;
    margin-bottom: 14px!important;
}
.mb20 {margin-bottom: 20px;margin-bottom: 20px!important;}

.ml3 {
    margin-left: 3px;
    margin-left: 3px!important;
}
.ml5 {
    margin-left: 5px;
    margin-left: 5px!important;
}
.ml8 {
    margin-left: 8px;
    margin-left: 8px!important;
}
.ml10 {
    margin-left: 10px;
    margin-left: 10px!important;
}
.ml20 {
    margin-left: 20px;
    margin-left: 20px!important;
}
.ml30 {
    margin-left: 30px;
    margin-left: 21px!important;
}
.mt3 {
    margin-top: 3px;
    margin-top: 3px!important;
}
.mt5 {
    margin-top: 5px;
    margin-top: 5px!important;
}
.mt8 {
    margin-top: 8px;
    margin-top: 8px!important;
}
.mt10 {
    margin-top: 10px;
    margin-top: 10px!important;
}
.mt15 {
    margin-top: 15px;
    margin-top: 15px!important;
}
.mt50 {
    margin-top: 50px;
}
.font_bold {
    font-weight: bold;
}
.mr3 {
    margin-right: 3px;
    margin-right: 3px!important;
}
.mr5 {
    margin-right: 5px;
    margin-right: 5px!important;
}
.mr8 {
    margin-right: 8px;
    margin-right: 8px!important;
}
.mr10 {
    margin-right: 10px;
    margin-right: 10px!important;
}
.mr15 {
    margin-right: 15px;
    margin-right: 15px!important;
}
.mr20 {
    margin-right: 20px;
    margin-right: 20px!important;
}
.mr25 {
    margin-right: 25px;
}
.mr30 {
    margin-right: 30px;
    margin-right: 30px!important;
}
.fl {
    float: left;
*display: inline;
    _display: inline;
}
.fr {
    float: right;
*display: inline;
    _display: inline;
}
.cwq_s {
    width: 1070px;
    position: relative;
}
.zk {
    height: 64px;
    overflow: hidden;
}
.co3 {
    color: #333
}
.co9 {
    color: #999
}
.coh {
    color: #d62f40
}
.pb5 {
    padding-bottom: 5px;
    padding-bottom: 5px!important;
}
.pb15 {
    padding-bottom: 15px;
    padding-bpttom: 15px!important;
}
.pb20 {
    padding-bottom: 20px;
    padding-bpttom: 20px!important;
}
.pb6 {
    padding-bottom: 6px;
    padding-bottom: 6px!important;
}
.pl15 {
    padding-left: 15px;
    padding-left: 15px!important;
}
.pl30 {
    padding-left: 30px;
    padding-left: 30px!important;
}
.pr10 {
    padding-right: 10px;
    padding-right: 10px!important;
}
.pr15 {
    padding-right: 15px;
    padding-right: 15px!important;
}
.pt6 {
    padding-top: 6px;
    padding-top: 6px!important;
}
.pt30 {
    padding-top: 30px;
    padding-top: 30px!important;
}
.w90 {
    width: 90px;
}
.w100 {
    width: 100px;
}
.w110 {
    width: 110px;
}
.w210 {
    width: 210px;
}
.w590 {
    width: 590px;
}
.w960 {
    width: 960px;
}
.w1200 {
    width: 1200px;
    margin: 0 auto;
    min-width: 1200px;
}
.ove_h {
    overflow: hidden;
}
.cl {
    clear: both;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    line-height: 0px;
    height: 0px;
    font-size: 0px;
}
.cwq_s .cat-a {
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
}
.cwq_s .cat-a:hover {
    background: #d62f40;
    color: #fff;
}
.cwq_s .cat-a.select {
    background: #d62f40;
    color: #fff;
}
.back_f5 {
    background: #f5f5f5;
}
.clear, .line, .blank1, .blank2, .blank3, .blank4, .blank5, .blank6,.blank7, .blank8, .blank10, .blank15, .blank20, .blank30, .blank40,.blank50, .blank60 {clear: both;padding: 0px;margin: 0px;overflow: hidden;line-height: 0px;font-size: 0px;}

.blank20 {
    height: 20px;
}
.blank40 {height: 40px;}

.blankness {display: inline-block;min-width: 10px;padding: 5px 7px;font-size: 12px;font-weight: 700;line-height: 1;color: #777;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius:5px;border: 1px solid #777;cursor: pointer;}
